# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/test/MyGame/cocos2d
/test/MyGame/proj.win32/.vs
/test/MyGame/proj.win32/Debug.win32/libcocos2d.pdb
/test/MyGame/proj.win32
